<h1 class="m-0 mb-4 text-2xl font-bold">Analíticas del Curso</h1>

<div class="grid">
  <p-card
    class="col-12 md:col-6 lg:col-4"
    [style]="{ height: '200px' }"
    header="Promedio de calificación"
  ></p-card>
  <p-card
    class="col-12 md:col-6 lg:col-4"
    [style]="{ 'min-height': '200px' }"
    header="Tiempo promedio para completar una partida"
  ></p-card>
  <p-card
    class="col-12 md:col-6 lg:col-4"
    [style]="{ 'min-height': '200px' }"
    header="Tasa de abandono"
  ></p-card>
  <p-card
    class="col-12 md:col-6 lg:col-4"
    [style]="{ 'min-height': '200px' }"
    header="Cantidad de intentos realizados por estudiante"
  ></p-card>
  <p-card
    class="col-12 md:col-6 lg:col-4"
    [style]="{ 'min-height': '200px' }"
    header="Distribución de calificaciones"
  ></p-card>
  <p-card
    class="col-12 md:col-6 lg:col-4"
    [style]="{ 'min-height': '200px' }"
    header="Mejor y peor desempeño de estudiantes"
  ></p-card>
  <p-card
    class="col-12 md:col-6 lg:col-4"
    [style]="{ 'min-height': '200px' }"
    header="Estudiantes que no han participado en el curso"
  ></p-card>
  <p-card
    class="col-12 md:col-6 lg:col-4"
    [style]="{ 'min-height': '200px' }"
    header="Promedio de requerimientos por partida"
  ></p-card>
</div>
