<div class="mb-6 flex justify-content-between align-items-center">
  <h1 class="text-2xl font-semibold m-0">Analíticas del Curso</h1>

  <p-button
    label="Volver"
    icon="pi pi-arrow-left"
    severity="secondary"
    (onClick)="goBack()"
  ></p-button>
</div>

@if (!loading && metrics) {

<div class="flex gap-4">
  <div class="flex-1">
    <p-chart type="bar" [data]="chartData" [options]="chartData" />
  </div>

  <div class="flex-1 grid mt-4">
    <p-card class="col-12 md:col-6" header="Promedio de calificación">
      <p class="text-2xl font-bold p-0">{{ metrics.score_average * 10 }}</p>
    </p-card>
    <p-card class="col-12 md:col-6" header="Tiempo promedio">
      <p class="text-2xl font-bold p-0">{{ metrics.time_average }} segundos</p>
    </p-card>
    <p-card class="col-12 md:col-6" header="Tasa de abandono">
      <p class="text-2xl font-bold p-0">{{ metrics.dropout_rate * 100 }}%</p>
    </p-card>
    <p-card class="col-12 md:col-6" header="Cant. Intentos">
      <p class="text-2xl font-bold p-0">{{ metrics.total_attempts }}</p>
    </p-card>
  </div>
</div>

}
