<form [formGroup]="roomForm">
  <span class="p-text-secondary block mb-5"
    >Completa la información para crear un nuevo curso.</span
  >

  <h2>Configuración de la Sala</h2>
  <p-divider />
  <div class="flex align-items-center gap-3 mb-3">
    <label for="code" class="font-semibold w-6rem">Código</label>
    <input
      pInputText
      id="code"
      formControlName="room_code"
      class="flex-auto"
      autocomplete="off"
    />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="name" class="font-semibold w-6rem">Nombre</label>
    <input
      pInputText
      id="name"
      formControlName="room_name"
      class="flex-auto"
      autocomplete="off"
    />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="maxAttempts" class="font-semibold w-6rem">Max. Intentos</label>
    <p-inputNumber
      id="maxAttempts"
      formControlName="max_attempts"
      [min]="1"
      [showButtons]="true"
      buttonLayout="horizontal"
      spinnerMode="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      inputStyleClass="w-4rem text-center"
    ></p-inputNumber>
  </div>

  <div class="flex align-items-center gap-3 mb-5">
    <label for="itemsPerAttempt" class="font-semibold w-6rem"
      >Items por intento</label
    >
    <p-inputNumber
      id="itemsPerAttempt"
      formControlName="items_per_attempt"
      [min]="1"
      [showButtons]="true"
      buttonLayout="horizontal"
      spinnerMode="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      inputStyleClass="w-4rem text-center"
    ></p-inputNumber>
  </div>

  <h2>Configuración del Juego</h2>
  <p-divider />

  <div class="flex align-items-center gap-3 mb-5">
    <label for="language" class="font-semibold w-6rem">Idioma</label>
    <p-dropdown
      id="language"
      class="flex-auto"
      formControlName="language"
      [options]="languages()"
      optionLabel="name"
      placeholder="Selecciona un idioma"
    />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="additionalContext" class="font-semibold w-6rem"
      >Contexto Adicional</label
    >
    <textarea
      rows="5"
      cols="30"
      pInputTextarea
      formControlName="additional_context"
    ></textarea>
  </div>

  <div class="flex justify-content-end gap-2">
    <p-button
      label="Cancelar"
      severity="secondary"
      (onClick)="navigateToAdminHome()"
      [disabled]="createLoading()"
    />
    <p-button
      label="Crear"
      (onClick)="onSubmit()"
      [disabled]="roomForm.invalid || createLoading()"
      [loading]="createLoading()"
    />
  </div>
</form>
