@if (loadingStudent() && isInAdminView()) {
<app-common-page-header-skeleton class="mb-4"></app-common-page-header-skeleton>
} @else {
<div class="flex justify-content-between align-items-center mb-4">
  <h1 class="m-0">{{ pageTitle() }}</h1>

  <p-button
    label="Volver"
    icon="pi pi-arrow-left"
    severity="secondary"
    (onClick)="navigateToCourses()"
  ></p-button>
</div>
}@if (loadingHistory()) {
<p-skeleton height="200px" />
} @else {
<p-card>
  <p-table
    [value]="attempts()"
    [paginator]="true"
    [alwaysShowPaginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['course_code', 'course_name', 'created_at']"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <p-iconField iconPosition="left">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="search($event)"
            placeholder="Buscar"
          />
        </p-iconField>

        @if (attempts().length > 0) {
        <p-button
          icon="pi pi-download"
          label="Descargar archivo Excel"
          severity="info"
          (onClick)="downloadStudentAttemptList()"
        />
        }
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="flex align-items-center">
            Fecha
            <p-columnFilter type="date" field="created_at" display="menu" />
          </div>
        </th>
        <th>
          <div class="flex align-items-center gap-2">
            Código
            <p-columnFilter type="text" field="course_code" display="menu" />
          </div>
        </th>
        <th>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-briefcase"></i>
            Curso
          </div>
        </th>
        <th>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-angle-up"></i>
            Max. Intentos
          </div>
        </th>
        <th>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-arrow-right"></i>
            Movimientos
          </div>
        </th>
        <th>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-clock"></i>
            Tiempo
          </div>
        </th>
        <th>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-star"></i>
            Puntaje
          </div>
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-attempt>
      <tr>
        <td>{{ attempt.created_at | date : "dd/MM/yyyy - HH:mm" }}</td>
        <td>
          <p-chip [label]="attempt.course_code" />
        </td>
        <td>{{ attempt.course_name }}</td>
        <td>{{ attempt.max_attempts }}</td>
        <td>{{ attempt.movements }}</td>
        <td>{{ attempt.time | appTakenTime }}</td>
        <td>{{ (attempt.score * 100).toFixed(2) }}%</td>
        <td>
          <p-button
            icon="pi pi-list"
            severity="info"
            pTooltip="Ver resultados"
            (onClick)="navigateToResults(attempt.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">
          <p class="flex justify-content-center align-items-center">
            No se encontraron resultados
          </p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
}
