<p-menubar [model]="navItems()">
  <ng-template pTemplate="start">
    <div class="flex align-items-center">
      <img src="./images/ug-logo.png" alt="Logo" style="height: 38px" />
    </div>
  </ng-template>

  <ng-template pTemplate="item" let-item>
    @if (item.route) {
    <a
      [routerLink]="item.route"
      class="p-menuitem-link"
      [class.active]="router.isActive(item.route, false)"
    >
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
    </a>
    } @else if (item.url) {
    <a [href]="item.url" class="p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
    </a>
    } @else {
    <div class="p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
      <span class="pi pi-fw pi-angle-down ml-2"></span>
    </div>
    }
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <span class="ml-2">{{ userName() }}</span>

      <p-menu #menu [model]="menuItems()" [popup]="true" />
      <p-button
        icon="pi pi-user"
        severity="info"
        (onClick)="menu.toggle($event)"
      />
    </div>
  </ng-template>
</p-menubar>
