<div class="flex justify-content-between mb-4">
  <p-button
    severity="danger"
    icon="pi pi-times"
    label="Abandonar"
    (onClick)="abandonGame()"
  />

  <p class="flex align-items-center gap-2 m-0">
    <i class="pi pi-stopwatch" style="font-size: 1.5rem"></i>
    {{ timeElapsed() }}
  </p>

  <p-button
    icon="pi pi-check"
    label="Revisar"
    [loading]="savingAttempt()"
    [disabled]="savingAttempt()"
    (onClick)="checkResults()"
  />
</div>

<div class="classification-container grid grid-nogutter gap-3">
  <div
    class="col p-3 border-1 border-dashed border-round h-full overflow-y-auto"
    pDroppable
    (onDrop)="dropGood()"
  >
    <p class="text-center text-2xl font-semibold">No Ambiguos</p>

    @if (selectedGoodRequirements().length == 0) {
    <div class="flex flex-column align-items-center gap-2">
      <p class="text-center">Arrastre aquí los requisitos no ambiguos</p>
      <i class="pi pi-arrow-circle-down" style="font-size: 3rem"></i>
    </div>
    }
    <ul
      class="list-none p-0 m-0 flex flex-column gap-3"
      *ngIf="selectedGoodRequirements"
    >
      <li
        *ngFor="let requirement of selectedGoodRequirements()"
        class="p-3 border-round shadow-1 font-semibold flex align-items-center gap-2 border-1 border-white"
        pDraggable
        (onDragStart)="dragStart(requirement)"
        (onDragEnd)="dragEnd()"
      >
        <span class="material-symbols-outlined">drag_indicator</span>
        {{ requirement.text | appParseHtml }}
      </li>
    </ul>
  </div>

  <div
    class="col p-3 border-1 border-dashed border-round h-full overflow-y-auto"
    pDroppable
    (onDrop)="dropUnclassified()"
  >
    @if (unclassifiedRequirements().length == 0) {
    <div class="flex flex-column align-items-center gap-2">
      <p class="text-center">Arrastre aquí los requisitos no clasificados</p>
      <i class="pi pi-arrow-circle-down" style="font-size: 3rem"></i>
    </div>
    }
    <ul class="list-none p-0 m-0 flex flex-column gap-3">
      <li
        *ngFor="let requirement of unclassifiedRequirements()"
        class="p-3 border-round shadow-1 font-semibold flex align-items-center gap-2 border-1 border-white"
        pDraggable
        (onDragStart)="dragStart(requirement)"
        (onDragEnd)="dragEnd()"
      >
        <span class="material-symbols-outlined">drag_indicator</span>
        {{ requirement.text | appParseHtml }}
      </li>
    </ul>
  </div>

  <div
    class="col p-3 border-1 border-dashed border-round h-full overflow-y-auto"
    pDroppable
    (onDrop)="dropBad()"
  >
    <p class="text-center text-2xl font-semibold">Ambiguos</p>

    @if (selectedBadRequirements().length == 0) {
    <div class="flex flex-column align-items-center gap-2">
      <p class="text-center">Arrastre aquí los requisitos ambiguos</p>
      <i class="pi pi-arrow-circle-down" style="font-size: 3rem"></i>
    </div>
    }
    <ul
      class="list-none p-0 m-0 flex flex-column gap-3"
      *ngIf="selectedBadRequirements"
    >
      <li
        *ngFor="let requirement of selectedBadRequirements()"
        pDraggable
        class="p-3 border-round shadow-1 font-semibold flex align-items-center gap-2 border-1 border-white"
        (onDragStart)="dragStart(requirement)"
        (onDragEnd)="dragEnd()"
      >
        <span class="material-symbols-outlined">drag_indicator</span>
        {{ requirement.text | appParseHtml }}
      </li>
    </ul>
  </div>
</div>
