<p-toast />
<p-confirmDialog />

@if (loadingCourses()) {
<app-common-page-header-skeleton class="mb-4"></app-common-page-header-skeleton>
} @else {
<div class="mb-4 flex justify-content-between align-items-center">
  <h1 class="text-2xl font-semibold m-0">
    Banco de Requerimientos "{{ course()?.course_code }}"
  </h1>

  <p-button
    label="Volver"
    icon="pi pi-arrow-left"
    severity="secondary"
    (onClick)="navigateToAdminHome()"
  ></p-button>
</div>
} @if (loadingRequirements()) {
<p-skeleton height="200px"></p-skeleton>
} @else {

<p-messages [(value)]="messages" [enableService]="false" [closable]="false" />

<p-table
  [value]="requirements()"
  class="p-datatable-striped"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  (onEditComplete)="onUpdateRequirement($event)"
  dataKey="id"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h2 class="m-0">Banco de Requerimientos</h2>
      @if (requirements().length > 0) {
      <p-button
        icon="pi pi-download"
        label="Descargar archivo Excel"
        severity="info"
        (onClick)="downloadRequirementsList()"
      />
      }
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40%">Requerimiento</th>
      <th style="width: 10%">Validez</th>
      <th style="width: 40%">Feedback</th>
      <th style="width: 10%">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-requirement let-rowIndex="rowIndex">
    <tr>
      <td
        [pEditableColumn]="requirement.text"
        pEditableColumnField="text"
        [pEditableColumnRowIndex]="rowIndex"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <textarea
              [(ngModel)]="requirement.text"
              pInputTextarea
              class="w-full"
            ></textarea>
          </ng-template>
          <ng-template pTemplate="output">
            {{ requirement.text | appParseHtml }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td
        [pEditableColumn]="requirement.isValid"
        pEditableColumnField="isValid"
        [pEditableColumnRowIndex]="rowIndex"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputSwitch [(ngModel)]="requirement.isValid"></p-inputSwitch>
          </ng-template>
          <ng-template pTemplate="output">
            <p-badge
              [value]="requirement.isValid ? 'Válido' : 'Inválido'"
              [severity]="requirement.isValid ? 'success' : 'danger'"
            ></p-badge>
          </ng-template>
        </p-cellEditor>
      </td>
      <td
        [pEditableColumn]="requirement.feedback"
        pEditableColumnField="feedback"
        [pEditableColumnRowIndex]="rowIndex"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <textarea
              [(ngModel)]="requirement.feedback"
              pInputTextarea
              class="w-full"
            ></textarea>
          </ng-template>
          <ng-template pTemplate="output">
            {{ requirement.feedback | appParseHtml }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-button
          icon="pi pi-trash"
          severity="danger"
          pTooltip="Eliminar requerimiento"
          (onClick)="removeRequirement(requirement.id)"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">
        <p class="flex justify-content-center align-items-center">
          No se encontraron requerimientos
        </p>
      </td>
    </tr>
  </ng-template>
</p-table>
}
